[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
defopt = "*"
requests = "*"
robobrowser = "*"
lxml = "*"
dataclasses = "*"
singleton-decorator = "*"
tflearn = "*"
flask = "*"
geocoder = "*"

[dev-packages]

[requires]
python_version = "3.6"
