<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>train your model</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        {% include "script.js" %}
    </script>
</head>
<body>
<form>
    <input type="hidden" value="{{ id }}" id="id" name="id"/>
    <input type="hidden" value="{{ url }}" id="url" name="url"/>
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="offset-md-3 col">
                <img src="{{ url }}" id="tinder_image" class="img-fluid" alt="Responsive image" height="500px" style="max-height: 500px; min-height: 500px;">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col center">
                <div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input"
                                   id="asian" name="race" value="asian" checked>Asian
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input"
                                   id="european" name="race" value="european">European
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input"
                                   id="black" name="race" value="black">Black
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col center">
                {% for i in range(10) %}
                <button class="btn btn-primary btn-rating" value="{{ i + 1 }}">{{ i + 1 }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</form>

</body>
</html>